.l-section {
  position: relative;
}

.l-section-posts {
  padding: 0 ms(0);

  @include limit-width($global-breakpoint, $global-width);

  @media (min-width: $global-breakpoint) {
    padding: 0;
  }
}
