body {
  background: $orange;
}

// Big ole outermost wrap
#app {
  margin: 0;
  min-height: 100vh;
  position:   relative;
  width:      100%;
  z-index: 1;
}

// Inner wrap
.content-wrap {
  align-items: flex-start;
  background:  $white;
  box-shadow:  $global-shadow;
  display:     flex;
  flex-flow:   column nowrap;
  margin:      ms(0);
  max-width:   100%;
  padding:     ms(1);
  position:    relative;

  @media (min-width: 30em) {
    margin: ms(1);
    padding: ms(2);
  }

  @media (min-width: 60em) {
    margin: ms(2);
    padding: ms(3);
  }

  @media (min-width: 80em) {
    margin: ms(3);
    padding: ms(3) * 0.75 ms(3);
  }

  @media (min-width: 131.25em) {
    margin: ms(4);
    padding: ms(3) ms(4);
  }
}
