// Show/hide the nav based on state
.l-masthead {
  &.is-sticky {
    position: fixed;
    transform: translateY(90%);
  }

  &.is-hidden {
    transform: translateY(0);

    .m-nav-items {
      opacity: 0;
    }
  }
}
