// Team Rocket
@keyframes thrusters {
  0%    { opacity: 0; }
  50%   { opacity: 1;}
  100%  { opacity: 0;}
}

@keyframes floating {
  from  { transform: translateY(0); }
  to    { transform: translateY(0.25em);}
}

@keyframes majortom {
  from { bottom: 0; }
  to   { bottom: 100%; }
}

// Anchors transitions
a {
  transition: all 100ms $global-ease;
}

.m-nav-items a {
  transition:none;
}

// Layout transitions
.fade-transition {
  transition: opacity 0.25s $global-bez,
              margin-top 0.25s $global-bez;
}

.fade-leave,
.fade-enter {
  opacity: 0;
  height: 0px;
}

.fade-leave {
  margin-top: -#{ms(1)} !important;
}

// Loading transition
.loading-transition {
  transition: all 0.20s $global-bez;
}

.loading-enter,
.loading-leave {
  height:     0;
  opacity:    0;
  visibility: hidden;
}

// Navigation
.l-masthead {
  transition: transform 0.25s $global-bez;

  .m-nav-items {
    transition: opacity 0.25s $global-ease;
    transition-delay: 0.15s;
  }
}
