// Font imports
@font-face{
  font-family:"Futura";
  src:url("./fonts/2c660b2f-8645-4b31-89fe-1c017eeb5e85.eot?#iefix");
  src:url("./fonts/2c660b2f-8645-4b31-89fe-1c017eeb5e85.eot?#iefix") format("eot"),url("./fonts/28b3ece5-82e3-4a7d-b043-3141dba45141.woff2") format("woff2"),url("./fonts/e80a3257-e0b2-4f7c-b4e8-0167c9adb7c0.woff") format("woff"),url("./fonts/5426d3ca-532d-4e71-a700-0a22917df569.ttf") format("truetype"),url("./fonts/67fb5232-0944-4965-8594-ed2972b84950.svg#67fb5232-0944-4965-8594-ed2972b84950") format("svg");

  font-weight: 300;
  font-style:  normal;
}
@font-face{
  font-family:"Futura";
  src:url("./fonts/3df40436-6074-4f91-b510-d634b2151e8a.eot?#iefix");
  src:url("./fonts/3df40436-6074-4f91-b510-d634b2151e8a.eot?#iefix") format("eot"),url("./fonts/8cddeecd-b3df-4181-9f3d-186a0b11db20.woff2") format("woff2"),url("./fonts/1d09eebb-0bae-4073-881b-7a0e0e8e88ef.woff") format("woff"),url("./fonts/cd531335-acc1-4537-a7bf-95f8d4ccdf95.ttf") format("truetype"),url("./fonts/46a3f4db-5fa7-4322-bb01-8427b461fd8c.svg#46a3f4db-5fa7-4322-bb01-8427b461fd8c") format("svg");

  font-weight:  300;
  font-style:   italic;
}
@font-face{
  font-family:"Futura";
  src:url("./fonts/da0637f7-7e81-4cbc-9f65-cfc35a127c4c.eot?#iefix");
  src:url("./fonts/da0637f7-7e81-4cbc-9f65-cfc35a127c4c.eot?#iefix") format("eot"),url("./fonts/40cc7f53-1cdb-4854-8d15-0feec3716ecc.woff2") format("woff2"),url("./fonts/f181fec3-5b1b-4e9f-94b6-e0d7150d1fbf.woff") format("woff"),url("./fonts/65ebb7f6-a11e-4744-8066-aa7029a5ba38.ttf") format("truetype"),url("./fonts/e23b4b94-7fc3-4dba-8b18-ec8ae6f0563f.svg#e23b4b94-7fc3-4dba-8b18-ec8ae6f0563f") format("svg");

  font-weight:  700;
  font-style:   normal;
}
@font-face{
  font-family:"Futura";
  src:url("./fonts/77b66835-3b3a-4573-9896-28f9c45065e0.eot?#iefix");
  src:url("./fonts/77b66835-3b3a-4573-9896-28f9c45065e0.eot?#iefix") format("eot"),url("./fonts/8d55173a-596a-4af0-89f6-13aeccc0be76.woff2") format("woff2"),url("./fonts/f66d3dd0-7261-4072-82e0-b027fbc3e052.woff") format("woff"),url("./fonts/26b870c6-9a3b-42f7-aa44-4e6541ccae9d.ttf") format("truetype"),url("./fonts/e96bb300-507f-43df-b8f4-3e5dedf1a21b.svg#e96bb300-507f-43df-b8f4-3e5dedf1a21b") format("svg");

  font-weight:  700;
  font-style:   italic;
}
@font-face{
  font-family:"Futura Condensed";
  src:url("./fonts/53e7f767-607a-456e-882f-eb8929656f58.eot?#iefix");
  src:url("./fonts/53e7f767-607a-456e-882f-eb8929656f58.eot?#iefix") format("eot"),url("./fonts/cb9f02e9-e1e3-43e6-aac7-291d519adf96.woff2") format("woff2"),url("./fonts/7c6841e4-d4ba-4d3a-b20f-4e8d6a66ba69.woff") format("woff"),url("./fonts/40dd32e2-b92f-4f8f-b0bb-44d58a17c470.ttf") format("truetype"),url("./fonts/ec286635-a373-4e03-ac4d-66a2cf5ac6a1.svg#ec286635-a373-4e03-ac4d-66a2cf5ac6a1") format("svg");

  font-weight:  700;
  font-style:   italic;
}
@font-face{
  font-family:"Rockwell";
  src:url("./fonts/8a120ae1-7a5b-484b-a170-f67812b59652.eot?#iefix");
  src:url("./fonts/8a120ae1-7a5b-484b-a170-f67812b59652.eot?#iefix") format("eot"),url("./fonts/340f9982-e8f7-4fa5-95eb-c8c1f6ecf402.woff2") format("woff2"),url("./fonts/7658dda6-217a-406c-bcb8-7551f88e2c49.woff") format("woff"),url("./fonts/ec796902-2e28-46d0-8bbd-071b83705a39.ttf") format("truetype"),url("./fonts/66d3bbb2-4ca8-48e9-b707-f53f776ec476.svg#66d3bbb2-4ca8-48e9-b707-f53f776ec476") format("svg");

  font-weight:  300;
  font-style:   normal;
}

