html, body {
  width:  100%;
}

body {
  font-family:  $futura;
  font-style:   normal;
  font-weight:  300;
  max-width:    100%;
}

// Wrappers
body * {
  box-sizing: border-box;
}

* + * {
  margin-top: #{$ms-ratio}em;
}

#wpadminbar {
  margin-top: 0 !important;
  z-index:    1000;
}

// Responsive images
img,
svg,
figure,
figcaption {
  height: auto !important;
  max-width:  100% !important;
}

svg:not(:root) {
  overflow: hidden;
}
