// Fonts
@import "./fonts";

// Basics
html {
  color:          $brown;
  hyphens:        auto;
  letter-spacing: 0.025em;
  line-height:    #{$ms-ratio}em;
  word-break:     break-word;
  word-wrap:      break-word;

  @media only screen {
    @include ms-respond(font-size, 1);
  }
}

::selection {
  background: $orange;
  color:      $white;
  text-shadow:none;
}


em {
  font-family:  $futura;
  font-style:   italic;
  font-weight:  300;

  strong {
    font-style:   italic;
    font-weight:  700;
  }
}

strong {
  font-family:  $futura;
  font-style:   normal;
  font-weight:  700;

  em {
    font-style:   italic;
    font-weight:  700;
  }
}

h1, h2, h3, h4 {
  font-family:    $rockwell;
  font-style:     normal;
  font-weight:    300;
  line-height:    1em;
}

// Rhythm and Scale
h1, h2, h3, h4 {
  color:  $orange;
}

h2, h3, h4, h5, h6 {
  margin-bottom:  0;
}

h1 {
  text-transform: uppercase;
}

// Lanks
a {
  color:  $brown;

  &:hover {
    color:  $orange;
  }

  h1 &,
  h2 &,
  h3 &,
  h4 & {
    background: transparent;
    color:  $orange;
    text-shadow: none;

    &:hover {
      background: transparent;
      color:  $brown;
      text-shadow: none;
    }
  }

  img {
    background: transparent;
    text-decoration: none;
  }
}

// HRs
hr {
  border: none;
  background: transparent url(../images/hr_argyle-orange.svg) no-repeat center center;
  background-size: ms(0) 100%;
  height: ms(0);

  .m-content-intro + & {
    margin-top: -(ms(2));
  }
}

// Lists
ol, ul {
  padding-left: #{$ms-ratio}em;
}

dt + dd {
  margin-top: 0;
}

dt {
  font-style: italic;
}

// Code/monospace blocks
code, kbd, pre, samp {
  font-family:  $monospace;
}

code {
  background: lighten($brown, 60%);
}

pre {
  background: lighten($brown, 60%);
  padding:    #{$ms-ratio}em;
  white-space: pre-wrap;

  code {
    background: transparent;
  }
}

// Quote blocks
blockquote {
  border-left:  solid lighten($brown, 60%) #{$ms-ratio / 2}em;
  font-style:   italic;
  margin:       #{$ms-ratio}em 0 0;
  padding-left: #{$ms-ratio / 2}em;

  strong {
    font-weight:  700;
  }

  em {
    font-style: normal;
  }

  strong em,
  em strong {
    font-style:   normal;
    font-weight:  700;
  }
}
