.m-brand {
  width: 70%;

  @media(min-width: 26em) {
    width: 70%;
  }

  // Reset anchor styles
  & > a {
    background:  transparent;
    color:       inherit;
    display:     block;
    line-height: 0;
    text-shadow: none;
  }
}

.m-brand-logo-img {
  box-sizing:     content-box;
  height:         0;
  margin:         0;
  padding-bottom: 140.303462%;
  position:       relative;
  overflow:       visible;
  transform:      translateZ(0);
  width:          100%;
}

.m-brand-part {
  height:   100%;
  left:     0;
  margin:   0;
  min-width: ms(0);
  padding:  0;
  position: absolute;
  width:    100%;
  top:      0;
  transition-property: all;
}

// Default logo has text and no diamond.
.m-brand-text svg,
.m-brand-rocket svg,
.m-brand-thrusters svg {
  fill: $orange;

  // Default logo inverse
  .m-brand-inverse & {
    fill: $white;
  }
}

.m-brand-diamond {
  display:  none;
}


// Alt logo
.m-brand-alt {
  // Show the diamond, hide the text
  .m-brand-diamond {
    display:  block;

    svg {
      fill:   $orange;
    }
  }

  .m-brand-text {
    display:  none;
  }

  // Change the color of the rocket and thrusters
  .m-brand-rocket svg,
  .m-brand-thrusters svg {
    fill: $white;
  }
}

// Alt logo inverse
.m-brand-alt.m-brand-inverse {
  .m-brand-diamond svg {
    fill: $white;
  }

  .m-brand-rocket svg,
  .m-brand-thrusters svg {
    fill: $orange;
  }
}

// Masthead logo
.m-brand-masthead {
  // align-self: flex-start;
  flex-grow:  1;
  flex-shrink: 1;
  margin:     ms(-2);
  max-width:  1.75em;
  position:   relative;
  z-index:    2;

  @media (min-width: $global-breakpoint) {
    margin-right: calc((1.75em + #{ms(-2)} + #{ms(-2)}) * -1)
  }
}
