// Positioning
.u-pa {
  position: absolute;
}

.u-pr {
  position: relative;
}

.u-pf {
  position: fixed;
}

.u-pos-mt0 {
  margin-top:  0;
}

// Colors
.u-color-primary {
  color:  $brown;
}

.u-color-secondary {
  color:  $orange;
}

.u-color-inverse {
  color:  $white;
}

// Typography
.u-font-body {
  font-family:  $futura;
  font-style:   normal;
  font-weight:  300;
}

.u-font-headline {
  font-family:  $rockwell;
  font-style:   normal;
  font-weight:  300;
}

.u-font-alt {
  font-family:  $futura-c;
  font-style:   italic;
  font-weight:  700;
}

.u-type-subhead {
  font-size:      ms(-1);
  font-family:    $futura-c;
  font-style:     italic;
  font-weight:    700;
  text-align:     center;
  text-transform: uppercase;
}

.u-type-center {
  text-align: center;
}

.u-type-left {
  text-align: left;
}

.u-type-right {
  text-align: right;
}

.u-type-sm {
  font-size:  ms(-1);
}

.u-type-sc {
  font-size:      ms(-1);
  text-transform: uppercase;
}

// Borders and rules
.u-rule {
  align-items:     center;
  display:         flex;
  flex-wrap:       nowrap;
  justify-content: center;
  text-align:      center;

  &:before,
  &:after {
    background: linear-gradient(180deg, transparent 0.5em, $orange 0.5em, $orange 0.6em, transparent 0.6em);
    content:    '';
    flex-grow:  1;
    height:     1em;
    margin: 0 ms(-1);
  }
}

.u-rule-primary {
  color: $orange;

  &:before,
  &:after {
    background: linear-gradient(180deg, transparent 0.5em, $brown 0.5em, $brown 0.6em, transparent 0.6em);
  }
}

.u-rule-inverse {
  color: $white;

  &:before,
  &:after {
    background: linear-gradient(180deg, transparent 0.5em, $white 0.5em, $white 0.6em, transparent 0.6em);
  }
}

// Columnar layout
.u-columns {
  display: flex;
}

.u-column {
  flex: 1 1 33%;
  flex-flow: row wrap;
  padding: 0 ms(1) 0 0;
}

.u-column:last-child {
  padding-right: 0;
}

// CSS columns (3col)
.u-css-columns_2 {
  columns: 2;
}

.u-css-columns_3 {
  columns: 3;
}

// Accessibility?
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}
