header#masthead(role='banner')
  .brand
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.38 91.23"><defs><style>.cls-1{fill:#f58220;}</style></defs><title>Big Sweater Logo</title><polygon class="cls-1" points="23.49 38.01 28.19 45.61 32.89 38.01 28.19 30.41 23.49 38.01"/><path class="cls-1" d="M28.19,0,0,45.61,28.19,91.23,56.38,45.61Zm9.4,60.82-4.7-7.6-4.7,7.6,4.7,7.6L28.19,76l-4.7-7.6,4.7-7.6-4.7-7.6-4.7,7.6-4.7-7.6,4.7-7.6L14.1,38,28.19,15.2,42.29,38l-4.7,7.6,4.7,7.6Z"/></svg>
  :markdown-it(typographer)
    # Vincent Maglione
    ## A designer who develops, and a developer who designs
    ### I don't know if there's a word for that yet. ¯\\_(ツ)_/¯

main#content
  section.intro
    :markdown-it(typographer)
      Since 2006, I've launched Web experiences for a diverse clientele that includes other design and development shops, marketing organizations, nonprofits, and _Fortune_ 500 companies.

      I'm passionate about the Web, open source, and user experience. I bring enthusiasm, strong work ethic, and broad experience to every project I take on. I do not claim to know everything, but I'm a voracious learner, and I'm always studying some aspect of design or programming in an effort to improve. (I'm a pretty quick study, too!)

      Interests and hobbies: cooking, music, writing, and (surprisingly, recently) health and fitness.

  section.experience
    h1 Experience

    ul.events
      li.event.from-2006.to-2016
        :markdown-it(typographer html)
          ## Big Sweater
          ### Independent
          #### 2006 -- Present

          <div class="event-desc">

            In the last ten years, my freelance practice has evolved from producing simple marketing websites to more advanced CMS-based sites using WordPress and other technologies; now, I'm consulting and contracting under the Big Sweater banner.

            Projects have included websites, WordPress themes and plugins, branding, UX design, and consulting.

            _Fun fact!_ "Maglione" means "sweater" in Italian. So now you know where the name came from.
          </div>
      li.event.from-2014.to-2015
        :markdown-it(typographer html)
          ## Home Decorators Collection
          ### Web Designer/Developer; Production Consultant
          #### February 2014 -- September 2015

          <div class="event-desc">

            [Home Decorators Collection](http://www.homedecorators.com), a Home Depot company, brought me on board to assist with the launch of their newly-redesigned website, and I ended up staying for almost two years. Working with the HDC team, I:

            - Consulted with management to implement best practices
            - Consulted with management to vet new hires
            - Consulted with management to improve the UX of critical website sections
            - Trained new hires
            - Designed, built, and deployed Web assets
            - Designed, built, and deployed marketing emails
            - Improved developer productivity by implementing modern best practices and workflows, and by writing extensive documentation, saving the front-end team enormous amounts of time
          </div>
      li.event.from-2008.to-2014
        :markdown-it(typographer html)
          ## Partners Marketing Group
          ### Designer/Developer
          #### 2008 -- 2014

          <div class="event-desc">

            [Partners Marketing Group](http://partnersmg.com) is a local marketing agency with a diverse array of clients, including colleges and universities, law firms, and industrial manufacturers. With Partners, I:

            - Completed many projects with tight deadlines, sometimes simultaneously
            - Designed and developed WordPress sites and plugins
            - Developed custom JavaScript and WordPress solutions for their clients' marketing needs
            - Worked to ensure their WordPress sites were up to the standards of modern best practices, including responsive design and development
          </div>
      li.event.from-2009.to-2011
        :markdown-it(typographer html)
          ## Woven Interactive
          ### Front-End Developer
          #### 2009 -- 2011

          <div class="event-desc">

            [Woven](http://woveninteractive.com) is a group of talented designers and developers working with large clients, including IHG, Cox Communications, and Turner Broadcasting. Working with Woven, I:

            - Produced images, HTML, and CSS tight deadlines
            - Assisted in the production of microsites, mobile sites (this was before responsive really took off), and marketing assets
          </div>

  section.expertise
    :markdown-it(typographer html)
      # Expertise

      <div class="expertise-design">

        ## Design

        - Branding
        - Web
        - Responsive
        - UI
      </div>

      <div class="expertise-development">

        ## Development

        - Git
        - HTML5, CSS3
        - JavaScript
        - VueJS
        - Responsive
        - WordPress
        - [Roots.io](https://roots.io) stack
      </div>

footer
  section.outro
    :markdown-it(typographer)
      # Let's launch some awesome web stuff.

  .contact
    :markdown-it(typographer)
      - [bigsweater.co](https://bigsweater.co)
      - [vincent@bigsweaterdesign.com](mailto:vincent@bigsweaterdesign.com)
      - (404) 372-4582

  .social
    :markdown-it(typographer)
      - [github.com/bigsweater](https://github.com/bigsweater)
      - [codepen.io/bigsweater](https://codepen.io/bigsweater)
      - [linkedin.com/in/vincentmaglione](https://www.linkedin.com/in/vincentmaglione)
      - [twitter.com/volfro](https://twitter.com/volfro)


