header#masthead(role='banner')
  :markdown-it(typographer)
    # Vincent Maglione
    ## A designer who develops, and a developer who designs

main#content
  section.intro
    :markdown-it(typographer)
      Since 2006, I've launched Web experiences for a diverse clientele that includes other design and development shops, marketing organizations, nonprofits, and even the occasional large, multinational corporation.

      I'm passionate about the Web, open source, and user experience. I bring enthusiasm, strong work ethic, and broad experience to every project I take on. I do not claim to know everything, but I'm a voracious learner, and I'm always studying some aspect of design or programming in an effort to improve.

  section.experience
    h1 Experience

    ul.events
      li.event.from-2006.to-2016
        :markdown-it(typographer html)
          ## Big Sweater
          ### Independent
          #### 2006 -- Present

          <div class="event-desc">

            I started my freelance practice in 2006. It evolved from producing simple marketing websites to more advanced CMS-based sites using WordPress and other technologies; now, I'm consulting and contracting under the Big Sweater banner.

            Projects have included websites, WordPress themes and plugins, branding, UX design, and consulting.

            _Fun fact!_ "Maglione" means "sweater" in Italian. So now you know where the name came from.
          </div>
      li.event.from-2014.to-2015
        :markdown-it(typographer html)
          ## Home Decorators Collection
          ### Web Designer/Developer; Production Consultant
          #### February 2014 -- September 2015

          <div class="event-desc">

            Until September 2015, I worked with the front-end creative team over at [Home Decorators Collection](http://www.homedecorators.com). I designed, built, and deployed new marketing assets (including emails); I designed and implemented new creative workflows for the front-end team to manage the enormous number of assets being added to/removed from the website on any given day; I improved the front-end development process; and I consulted with management re: new hires, best practices, and workflow tools and implementation.
          </div>
      li.event.from-2008.to-2014
        :markdown-it(typographer html)
          ## Partners Marketing Group
          ### Designer/Developer
          #### 2008 -- 2014

          <div class="event-desc">

            [Partners Marketing Group](http://partnersmg.com) is a local marketing agency with a diverse array of clients, almost all of whom have digital needs. With Partners, I designed and developed many sites, most of which were WordPress based. I developed custom JavaScript and WordPress solutions for their clients (including custom WordPress plug-ins), sometimes working on many projects at once.
          </div>
      li.event.from-2009.to-2011
        :markdown-it(typographer html)
          ## Woven Interactive
          ### Front-End Developer
          #### 2009 -- 2011

          <div class="event-desc">

            Working with the nice folks over at [Woven](http://woveninteractive.com), I produced images, HTML, and CSS for many of their large clients under tight deadlines. Projects included microsites, mobile sites (this was before responsive really took off), and marketing assets.
          </div>

  section.expertise
    :markdown-it(typographer html)
      # Expertise

      <div class="expertise-design">

        ## Design

        - Branding
        - Web
        - Responsive
        - UI
      </div>

      <div class="expertise-development">

        ## Development

        - HTML5, CSS3
        - JavaScript
        - VueJS
        - Responsive
        - WordPress
        - [Roots.io](https://roots.io) stack
      </div>

footer
  section.outro
    :markdown-it(typographer)
      # Let's launch some awesome web stuff.

  .contact
    :markdown-it(typographer)
      - [bigsweater.co](https://bigsweater.co)
      - [vincent@bigsweaterdesign.com](mailto:vincent@bigsweaterdesign.com)
      - (404) 372-4582

  .social
    :markdown-it(typographer)
      - [github.com/bigsweater](https://github.com/bigsweater)
      - [codepen.io/bigsweater](https://codepen.io/bigsweater)
      - [linkedin.com/in/vincentmaglione](https://www.linkedin.com/in/vincentmaglione)
      - [twitter.com/volfro](https://twitter.com/volfro)


