header#masthead
  .brand
    .logo
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.38 91.23"><title>Big Sweater</title><desc>Big Sweater Logo</desc><defs aria-hidden="true"><style>.cls-1{fill:#f58220;}</style></defs><polygon  aria-hidden="true" class="cls-1" points="23.49 38.01 28.19 45.61 32.89 38.01 28.19 30.41 23.49 38.01"/><path class="cls-1" d="M28.19,0,0,45.61,28.19,91.23,56.38,45.61Zm9.4,60.82-4.7-7.6-4.7,7.6,4.7,7.6L28.19,76l-4.7-7.6,4.7-7.6-4.7-7.6-4.7,7.6-4.7-7.6,4.7-7.6L14.1,38,28.19,15.2,42.29,38l-4.7,7.6,4.7,7.6Z"/></svg>
  .content
    :markdown-it(typographer)
      # Vincent Maglione
      ## Designer, developer, all-around nice fella

main#content
  section.intro
    :markdown-it(typographer html)
      ## Since 2006, I've launched Web experiences for a diverse clientele that includes other design and development shops, marketing organizations, nonprofits, and _Fortune_ 500 companies.

      <hr class="noprint">

      I love the Web, open source, and user experience design. I don't claim to know everything, but I'm a voracious learner, and I'm always studying some aspect of design or programming in an effort to improve. (I'm a pretty quick study, too!)

      Interests include art, business, and technology---and especially the place where all those things intersect.

  section.experience
    #close

    :markdown-it(typographer)
      ## Work History

    .events-wrap
      ul.events
        li#event-morrison.event(data-from="2016", data-to="2017")
          .noprint.event-meta
            :markdown-it(typographer)
              ### Morrison Agency
              #### Senior Front-End Developer
              ##### October 2016 -- Present

            a.btn.btn-readmore(href='#morrison-description') Read More

          #morrison-description.event-desc(role="dialog")
            a.btn.btn-close(href='#close' aria-label="close") &times;

            .event-desc-meta(aria-hidden="true")
              :markdown-it(typographer)
                ### Morrison Agency
                #### Senior Front-End Developer
                ##### October 2016 -- Present

            :markdown-it(typographer html)
              <hr class="noprint">

              I've worked with the talented folks at Morrison to launch web stuff for international clients like Mitsubishi Electric and Samsung. Accomplishments include:

              - Implemented deploy tools and improved internal workflows
              - Contributed to documentation to aid other developers
              - Built complex marketing materials under very tight deadlines
              - Built custom marketing automation API integrations

            p.btn-wrap: a.btn.btn-standard(href='#close' aria-label="close") Close

        li#event-bigsweater.event(data-from="2006", data-to="2016")
          .noprint.event-meta
            :markdown-it(typographer)
              ### Big Sweater
              #### Independent
              ##### 2006 -- 2016

            a.btn.btn-readmore(href='#bigsweater-description') Read More

          #bigsweater-description.event-desc(role="dialog")
            a.btn.btn-close(href='#close' aria-label="close") &times;

            .event-desc-meta(aria-hidden="true")
              :markdown-it(typographer)
                ### Big Sweater
                #### Independent
                ##### 2006 -- 2016

            :markdown-it(typographer html)
              <hr class="noprint">

              In the last ten years, my freelance practice has evolved from producing simple marketing websites to more advanced CMS-based sites using WordPress and other technologies; now, I'm consulting and contracting under the Big Sweater banner. Projects have included:

              - WordPress plug-ins and themes
              - Javascript and jQuery solutions to marketing problems
              - Open source contributions (and even a few of my own projects)
              - Brand identities

            p.btn-wrap: a.btn.btn-standard(href='#close' aria-label="close") Close

        li#event-hdc.event(data-from="2014", data-to="2015")
          .noprint.event-meta
            :markdown-it(typographer)
              ### Home Decorators Collection
              #### Consultant, Designer/Developer
              ##### February 2014 -- September 2015

            a.btn.btn-readmore(href='#hdc-description') Read More

          #hdc-description.event-desc(role="dialog")
            a.btn.btn-close(href='#close' aria-label="close") &times;

            .event-desc-meta(aria-hidden="true")
              :markdown-it(typographer)
                ### Home Decorators Collection
                #### Consultant, Designer/Developer
                ##### February 2014 -- September 2015

            :markdown-it(typographer html)
              <hr class="noprint">

              [Home Decorators Collection](http://www.homedecorators.com), a Home Depot company, brought me on board to assist with the launch of their newly-redesigned website, and I ended up staying for almost two years. Working with the HDC team, I:

              - Improved developer productivity by implementing modern tools and workflows, and by writing extensive documentation, saving the front-end team enormous amounts of time
              - Implemented development best practices, introducing the team to tools like Git for version control and Vagrant for isolated, reproducible development environments
              - Consulted with management to vet new hires
              - Oversaw new front-end hire training
              - Improved the UX of critical website sections
              - Designed, built, and deployed Web assets
              - Designed, built, and deployed marketing emails, many reaching an audience of over 1 million users

            p.btn-wrap: a.btn.btn-standard(href='#close' aria-label="close") Close

        li#event-pmg.event(data-from="2008", data-to="2014")
          .noprint.event-meta
            :markdown-it(typographer)
              ### Partners Marketing Group
              #### Designer/Developer
              ##### 2008 -- 2014

            a.btn.btn-readmore(href='#partners-description') Read More

          #partners-description.event-desc(role="dialog")
            a.btn.btn-close(href='#close' aria-label="close") &times;

            .event-desc-meta(aria-hidden="true")
              :markdown-it(typographer)
                ### Partners Marketing Group
                #### Designer/Developer
                ##### 2008 -- 2014

            :markdown-it(typographer html)
              <hr class="noprint">

              [Partners Marketing Group](http://partnersmg.com) is a local marketing agency with a diverse array of clients, including colleges and universities, law firms, and industrial manufacturers. With Partners, I:

              - Completed many projects with tight deadlines, sometimes simultaneously
              - Designed and developed custom JavaScript and WordPress solutions for their clients' marketing needs
              - Worked to ensure their WordPress sites were up to the standards of modern best practices, including responsive design and development
              - Trained clients on the daily use of WordPress and our custom plug-ins and themes

            p.btn-wrap: a.btn.btn-standard(href='#close' aria-label="close") Close

        li#event-woven.event(data-from="2009", data-to="2011")
          .noprint.event-meta
            :markdown-it(typographer)
              ### Woven Interactive
              #### Front-End Developer
              ##### 2009 -- 2011

            a.btn.btn-readmore(href='#woven-description') Read More

          #woven-description.event-desc(role="dialog")
            a.btn.btn-close(href='#close' aria-label="close") &times;

            .event-desc-meta(aria-hidden="true")
              :markdown-it(typographer)
                ### Woven Interactive
                #### Front-End Developer
                ##### 2009 -- 2011

            :markdown-it(typographer html)
              <hr class="noprint">

              [Woven](http://woveninteractive.com) is a group of talented designers and developers working with large clients, including IHG, Cox Communications, and Turner Broadcasting. Working with Woven, I:

              - Produced images, HTML, and CSS under tight deadlines
              - Assisted in the production of microsites, mobile sites (this was before responsive really took off), and marketing assets

            p.btn-wrap: a.btn.btn-standard(href='#close' aria-label="close") Close

        li.legend.noprint(aria-hidden="true")
          ol
            li: Now
            li: time 2016
            li: time 2015
            li: time 2014
            li: time 2013
            li: time 2012
            li: time 2011
            li: time 2010
            li: time 2009
            li: time 2008
            li: time 2007
            li: time 2006

  section.expertise
    :markdown-it(typographer)
      ## Expertise

    .cols
      .col.expertise-development
        :markdown-it(typographer)
          ### Development

          - Git
          - HTML5, CSS3
          - JavaScript
          - VueJS
          - Responsive
          - WordPress Themes and Plugins

      .col.expertise-design
        :markdown-it(typographer)
          ### Design

          - Branding
          - Web
          - Responsive
          - UI
          - Adobe Creative Cloud

footer
  section.outro
    :markdown-it(typographer)
      ## Hey. Let's launch some awesome web stuff. 👍

  .cols
    .contact.col
      :markdown-it(typographer)
        - [bigsweater.co](https://bigsweater.co)
        - [vincent@bigsweaterdesign.com](mailto:vincent@bigsweaterdesign.com)
        - [(404) 372-4582](tel:+1404-372-4582)

    .social.col
      :markdown-it(typographer)
        - [github.com/bigsweater](https://github.com/bigsweater)
        - [codepen.io/bigsweater](https://codepen.io/bigsweater)
        - [linkedin.com/in/vincentmaglione](https://www.linkedin.com/in/vincentmaglione)
        - [twitter.com/volfro](https://twitter.com/volfro)

  .noprint.about-site(aria-role="contentinfo")
    :markdown-it(typographer)
      This site is written in Jade, SCSS, and ES6; it's compiled using [Brunch](http://brunch.io), a super neat asset compiler. Check out [the source](https://github.com/bigsweater/resume)!

      Fonts in use: Futura and Rockwell.

      &copy; 2017 Vincent Maglione

  .printonly.about-site(aria-hidden="true")
    :markdown-it(typographer)
      This is the print version of my resume. You can view the full version at [bigsweater.github.io/resume](bigsweater.github.io/resume). Thanks for looking either way! 👋

