h1 
	:markdown-it(typographer)
		Vincent Maglione
h2
	:markdown-it(typographer)
		A designer who develops, and a developer who designs

.intro
	:markdown-it(typographer)
		Since 2006, I've launched Web experiences for a diverse clientele that includes other design and development shops, marketing organizations, nonprofits, and even the occasional large, multinational corporation.

		I'm passionate about the Web, open source, user experience. I bring enthusiasm, strong work ethic, and broad experience to every project I take on. I'm also a voracious learner---which is essential in this dynamic, ever-changing field. 
.experience
