head
	title Vincent Maglione's Resume

	meta(charset="utf-8")
	meta(name="viewport" content="intial-scale=1.0")
	meta(name="viewport" content="initial-scale=1, target-densitydpi=device-dpi")

	link(rel="stylesheet" type="text/css" href="/app.css")